.holder{
	border: 1px solid blue;
	background-color:red;
	display:grid;
	width:400px;
	grid-template-columns: 100px 100px;
    grid-template-rows: repeat(2,100px);
}
.item item-1{
	border:1px solid green;
	
}
/* Your CSS Code here. */